// PAGE D'ACCUEIL
@keyframes loader-apparition{
    0%{
        opacity: 100%;
        z-index: 2;
    }
    99%{
        opacity: 100%;
        z-index: 2;
    }
    100%{
        opacity: 0%;
        z-index: -1;
    }
}

@keyframes loader-spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}

@keyframes heart-progress {
    0%{
        transform: scale(0,0);
        // transform: scaleX(0);
    }
    20%{
        transform: scale(0, 0.2);
        // transform: scaleX(0);
    }
    100%{
        transform: scale(1, 1);
        // transform: scaleX(1);

    }
    
}

// PAGE RESTAURANT
@keyframes rotate-check{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-720deg);
    }
}

@keyframes apparition-card-1{
    0%{
        // transform: scaleY(0%);
        opacity: 0%;
    }
    25%{
        opacity: 100%;
    }
}

@keyframes apparition-card-2{
    0%{
        // transform: scaleY(0%);
        opacity: 0%;
    }
    20%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}

@keyframes apparition-card-3{
    0%{
        // transform: scaleY(0%);
        opacity: 0%;
    }
    45%{
        opacity: 0%;
    }
    75%{
        // transform: scaleY(100%);
        opacity: 100%;
    }
}

@keyframes apparition-card-4{
    0%{
        // transform: scaleY(0%);
        opacity: 0%;
    }
    70%{
        opacity: 0%;
    }
    100%{
        // transform: scaleY(100%);
        opacity: 100%;
    }
}