// PAGES RESTAURANT

@mixin plate-type{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .plate-type{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 28px;
        padding: 10px 0px;
        margin-bottom: 15px;
        span{
            border-bottom: 4px solid $color-tertiary;
            padding: 10px 0px;
        }
    }
}

@mixin menu-card{
    figure{
        background-color: white;
        border-radius: 20px;
        height: 100px;
        font-size: 28px;
        font-weight: 500;
        display: flex;
        box-shadow: 0px 5px 15px rgb(221, 221, 221);
        overflow: hidden;
        .plate{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            padding: 0px 20px;
            &__check{
                display: none;
            }
        }
        figcaption{
            font-weight: 300;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            span{
                font-weight: 500;
            }
        }
        &:hover{
            .plate{
                &__check{
                display: contents;
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                background-color: $color-tertiary;
                color: white;
                }
            }
        }
    }
}