// // PAGES RESTAURANT

@mixin menu-card {   
    display: flex;
    flex-direction: column;
    gap: 20px;

    .plate-type{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
        padding: 10px 0px;
        margin-bottom: 15px;
        span{
            border-bottom: 4px solid $color-tertiary;
            padding: 10px 0px;
        }
    }
    figure{
        background-color: white;
        border-radius: 20px;
        height: 100px;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 15px rgb(221, 221, 221);
        overflow: hidden;
        .plate{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 0px 10px 0px 20px;
            transition: width 1.2s ease-out;
            transition-delay: 4ms;
            h3{
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: fit-content;
            }
            &__infos{
                display: flex;
                justify-content: space-between;
                width: 100%;
                min-width: 80%;
                p{
                    width: 100%;
                    font-weight: 300;
                    margin-top: 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: width 1.2s ease-out;
                    transition-delay: 4ms;
                }
                span{
                    margin: 0px;
                    font-weight: 500;
                    align-self: flex-end;
                }
            }
            &__check{
                width: 5%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-tertiary;
                transform: translateX(50px);
                transition: all 0.8s ease-out;
                transition-delay: 2ms;
                i{
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 20px;
                    transition-property: transform;
                    transition-duration: 1.2s;
                    transition-delay: 1ms;
                }
            }
        }
        &:hover{
            .plate{     
                width: 75%;
                // min-width: 60%;
                &__infos{
                    p{
                        width: 90%;
                    }
                }          
                &__check{
                    width: 20%;
                    transform: translateX(0px);
                    i{ 
                        transform: rotate(-720deg);
                    }
                }
            }
        }
    }
}

// ANIMATIONS

@mixin animation-heart{
    .hidden{
        background: rgb(255,121,218);
        background: linear-gradient(5deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0%;
        transition: opacity 1.2s ease-in-out;
        transition-delay: 4ms;
    }
    &:hover{
        .hidden{
            opacity: 100%;
        }
    }
}