$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-dark: whitesmoke;
$background-light: white;

$font: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;

