// ACCUEIL
.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(255,121,218);
    background: linear-gradient(170deg, lighten(rgba(255,121,218,1), 2%) 0%, lighten(rgba(147,86,220,1), 2%) 100%);
    z-index: -1;
    opacity: 0;
    animation: loader-apparition 3s;
    .loader-container{
        width: 45vw;
        height: 10vh;
        margin: 0 auto;
        position: relative;
        top: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .egg-box{
            display: flex;
            .egg{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(255,255,255);
                background: radial-gradient(circle, rgba(255,255,255,1) 58%, rgba(180,172,155,1) 95%);
                &__yellow{
                    width: 55%;
                    height: 55%;
                    border-radius: 50%;
                    background: rgb(255,178,62);
                    background: linear-gradient(142deg, rgba(255,188,87,1) 4%, rgba(255,128,0,1) 58%, rgba(185,93,0,1) 96%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__light{
                        height: 55%;
                        width: 55%;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        border-left: 2px solid white;
                        transform: rotate(42deg);
                    }
                }
                &.e1{
                    animation-name: egg1;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 3;
                }
                &.e2{
                    animation-name: egg2;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 3;
                }
                &.e3{
                    animation-name: egg3;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 3;
                }  
                      
            }
        }
    }
}

header{
    width: 100%;
    background-color: $background-light;
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    box-shadow: 0px 6px 10px darken($background-dark, 15%);
    position: relative;
    img{
        width: 45%;
    }
    i{
        position: absolute;
        top: 45%;
        left: 2%;
        padding: 0px 20px;
        color: lighten(black, 20%);
    }
}

.research{
    width: 100%;
    background-color: darken($background-dark, 5%);
    &__form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        i{
            color: lighten(black, 20%);
            padding-right: 20px;  
        }
        input{
            height: 60px;
            width: 70%;
            background-color: darken($background-dark, 5%);
            font-size: 18px;
            border: none;
            &:focus{
                outline: 0px;
            }
            &::placeholder{
                color: lighten(black, 20%);
            }
        }
    }
}

.explorer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
    background-color: $background-dark;
    h1{
        font-size: 24px;
        width: 70%;
    }
    p{
        width: 80%;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.functioning{
    padding: 40px 0px;
    background-color: $background-light;
    h2{
        font-size: 24px;
        margin-left: 5%;
    }
    &__card{
        display: flex;
        width: 85%;
        height: 60px;
        margin-left: 9%;
        margin-top: 20px;
        background-color: $background-dark;
        border-radius: 15px;
        box-shadow: 0px 5px 10px darken($background-dark, 10%);
        span{
            font-size: 16px;
            background-color: $color-primary;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 18px;
            left: -12px;
        }
        figcaption{
            font-size: 16px;
            display: flex;
            align-items: center;
            font-weight: 700;
            i{
                width: 20px;
                color: grey;
                margin-right: 20px;
                margin-left: 10px;
            }
        }
        &.primary-background{
            background-color: lighten($color-primary, 35%);
            i{
                color: $color-primary;
            }
        }
    }
}

.restaurant{
    background-color: $background-dark;
    padding: 40px 0px;
    h3{
        font-size: 24px;
        margin-left: 5%;
    }
    &__container{
        display: flex;
        flex-direction: column-reverse;
    }
    &-card{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        height: 250px;
        border-radius: 15px;
        overflow: hidden;
        background-color: $background-light;
        box-shadow: 0px 5px 15px rgb(221, 221, 221);
        &__img{
            height: 70%;
            width: 100%;
            position: relative;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            span{
                float: right;
                position: absolute;
                top: 6%;
                right: 4%;
                background-color: $color-tertiary;
                font-size: 14px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                color: darken($color-tertiary, 40%);
            }
        }
        &__infos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 28px;
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
            h4{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
            }
            span{
                width: 30px;
                display: flex;
                align-items: center;
                @include animation-heart;
                i{
                    font-size: 28px;
                }
            }
        }
    }
}

footer{
    color: white;
    background-color: darken($background-dark, 75%);
    padding-top: 30px;
    padding-bottom: 40px;
    .footer__title{
        font-family: $font-title;
        font-size: 18px;
        margin: 0px 5%;
    }
    ul{
        margin: 0 5%;
        margin-top: 20px;
        li{
            padding: 5px;
            font-size: 16px;
            i{
                height: 20px;
                width: 30px;
            }
        }
    }
}


// PAGES RESTAURANTS
.main-bckground{
    background-color: $background-dark;
}

.banner{
    width: 100%;
    height: 300px;
    position: relative;
    &__img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.menu{
    background-color: $background-dark;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0px 5%;
    padding-bottom: 40px;
    position: relative;
    top: -45px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title{
        display: flex;
        // align-items: baseline;
        justify-content: space-between;
        font-family: $font-title;
        font-size: 24px;
        margin-top: 40px;
        h1{
            font-size: 28px;
            height: fit-content;
            align-self: end;
        }
        span{
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: end;
            @include animation-heart;
            i{
                font-size: 28px;
            }
        }
    }
    &__entree{
        @include menu-card;
    }
    &__plate{
        @include menu-card;
    }
    &__dessert{
        @include menu-card;
        margin-bottom: 20px;
    }
}

// TABLETTES & DESKTOP
@media only screen and (min-width: 768px){
    // ACCUEIL
    header{
        img{
            width: 20%;
        }
    }

    .functioning{
        div{
            width: 90%;
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__card{
            margin: 0px;
            figcaption{
                font-size: 14px;
                padding-right: 10px;
            }
        }
    }

    .restaurant{
        &__container{
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: center;
            // .restaurant-card{
            //     &__infos{
            //         padding-left: 20px;
            //     }
            // }
        }
        a{
            width: 45%;
        }
    }

    footer{
        .footer__title{
            font-size: 28px;
            text-align: center;
        }
        ul{
            width: 90%;
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            li{
                font-size: 18px;
            }
        }
    }

    // PAGES RESTAURANT
    .menu{
        &__entree{
            @include menu-card-pannel;
        }
        &__plate{
            @include menu-card-pannel;
        }
        &__dessert{
            @include menu-card-pannel;
        }
    }
}


