@media only screen and (max-width: 768px){
    // PAGES ACCUEIL + HEADER/FOOTER
    // body{
    //     position: relative;
    //     &::after{
    //         content: "";
    //         height: 100%;
    //         width: 100%;
    //         background-color: $color-background;
    //         opacity: 100%;
    //         position: absolute;
    //         top: 0px;
    //         bottom: 0px;
    //         right: 0px;
    //         left: 0px;
    //         z-index: 2;
    //         animation-name: loader-apparition;
    //         animation-duration: 3s;
    //         display: none;
    //     }
    // }
    .loader{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: $color-background;
        z-index: -1;
        opacity: 0%;
        animation: loader-apparition 3s;
        i{
            width: fit-content;
            height: fit-content;    
            transform-origin: 50% 50%;
            position: relative;
            top: 300px;
            animation: loader-spinner 3s linear;
        }        
    }

    header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0px 30px 0px;
        box-shadow: 0px 6px 10px darken($color-background, 15%);
        position: relative;
        img{
            width: 45%;
        }
        i{
            position: absolute;
            top: 45%;
            left: 2%;
            padding: 0px 20px;
            color: lighten(black, 20%);
        }
    }

    .research{
        width: 100%;
        background-color: darken($color-background, 5%);
        &__form{
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            i{
                color: lighten(black, 20%);
                padding-right: 20px;  
            }
            input{
                height: 60px;
                width: 70%;
                background-color: darken($color-background, 5%);
                font-size: 18px;
                border: none;
                &:focus{
                    outline: 0px;
                }
                &::placeholder{
                    color: lighten(black, 20%);
                }
            }
        }
    }

    .explorer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        padding: 60px 0px;
        background-color: $color-background;
        h1{
            font-size: 24px;
            width: 70%;
        }
        p{
            width: 80%;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
        }
    }

    .functioning{
        padding: 40px 0px;
        h2{
            font-size: 24px;
            margin-left: 5%;
        }
        &__card{
            display: flex;
            width: 85%;
            height: 60px;
            margin-left: 9%;
            margin-top: 20px;
            background-color: $color-background;
            border-radius: 15px;
            box-shadow: 0px 5px 10px darken($color-background, 10%);
            &.primary-background{
                background-color: lighten($color-primary, 35%);
                margin-bottom: 20px;
                i{
                    color: $color-primary;
                }
            }
            span{
                font-size: 16px;
                background-color: $color-primary;
                color: white;
                width: 25px;
                height: 25px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 18px;
                left: -12px;
            }
            figcaption{
                font-size: 16px;
                display: flex;
                align-items: center;
                font-weight: 700;
                i{
                    width: 20px;
                    color: grey;
                    margin-right: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
    .restaurant{
        background-color: $color-background;
        padding: 40px 0px;
        h3{
            font-size: 24px;
            margin-left: 5%;
        }
        &-card{
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            height: 250px;
            border-radius: 15px;
            overflow: hidden;
            background-color: white;
            box-shadow: 0px 5px 15px rgb(221, 221, 221);
            &__img{
                height: 70%;
                width: 100%;
                position: relative;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                span{
                    float: right;
                    position: absolute;
                    top: 6%;
                    right: 4%;
                    background-color: $color-tertiary;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 8px 15px;
                    border-radius: 5px;
                    color: darken($color-tertiary, 40%);
                }
            }
            &__infos{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 28px;
                height: 30%;
                width: 90%;
                margin: 0 auto;
                h4{
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 16px;
                    font-weight: 300;
                }
                span{
                    position: relative;
                    top: -5px;
                    right: -20px;
                    i{
                        font-size: 28px;
                    }
                    @include animation-heart;
                }
            }
        }
    }

    footer{
        color: white;
        background-color: darken($color-background, 75%);
        padding-top: 30px;
        padding-bottom: 40px;
        .footer__title{
            font-family: $font-title;
            font-size: 18px;
            margin: 0px 5%;
        }
        ul{
            margin: 0 5%;
            margin-top: 20px;
            li{
                padding: 5px;
                font-size: 16px;
                i{
                    height: 20px;
                    width: 30px;
                }
            }
        }
    }

    // PAGES RESTAURANTS
    .main-bckground{
        background-color: $color-background;
    }

    .banner{
        width: 100%;
        height: 300px;
        position: relative;
        &__img{
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }


    .menu{
        background-color: $color-background;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 0px 5%;
        padding-bottom: 40px;
        position: relative;
        top: -45px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__title{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-family: $font-title;
            font-size: 24px;
            padding: 20px 0px 0px 0px;
            h1{
                font-size: 28px;
            }
            span{
                display: flex;
                align-items: end;
                i{
                    font-size: 28px;
                }
                @include animation-heart;
            }
        }
        &__entree{
            @include menu-card;
        }
        &__plate{
            @include menu-card;
        }
        &__dessert{
            @include menu-card;
            margin-bottom: 20px;
        }
    }
}